* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #222346;
}

.App {
  width: 100vw;
  height: 100vh;
}

.stoper {
  width: 600px;
  height: 700px;
  position: relative;
  top: 50%;
  left: 50%;
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
}

.stoper__h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
  color: white;
  letter-spacing: 4px;
}

.stoper__time {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 5px solid white;
  text-align: center;
}

.stoper__span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.stoper__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 300px;
}

.stoper__buttons-button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
  border: 3px solid white;
  outline: none;
  cursor: pointer;
  font-size: 40px;
  background-color: transparent;
}